<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SMD.Properties.Settings>
            <setting name="OutFormat" serializeAs="String">
                <value>Current song [Title] [if([Artist])]by [Artist][/if][if([Album])] Album: [Album][/if]</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>current_song.txt</value>
            </setting>
            <setting name="RefeshRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastPlayer" serializeAs="String">
                <value />
            </setting>
        </SMD.Properties.Settings>
    </userSettings>
</configuration>